@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

// Color Variables

$color-primary: #99cfb2;
$color-secondary: #fabec0;
$color-tertiary: #fbe4a7;
$color-quaternary: #73c3d3;
$color-light: #efefef;
$color-white: #fff;
$color-black: #111;

// Font Variables

$font-size-small: 1.8rem;
$font-size-regular: 2.2rem;
$font-size-large: 3.6rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 500;

// Other Variables

$nav-height: 8vh;

// Mixins

@mixin flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
