*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
  list-style: none;
  border: none;
  background-color: transparent;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: $color-white;
  font-family: 'Montserrat', Helvetica, Arial, Verdana, Tahoma;
  font-size: $font-size-small;
}

h1,
h2 {
  font-size: $font-size-large;
  font-weight: $font-weight-regular;
  padding: 3rem 0;
}

p {
  font-size: $font-size-small;
  font-weight: $font-weight-light;
  padding: 3rem 0;
}

img {
  width: 100%;
  height: auto;
}

.article,
.figure {
  margin: 1rem 4rem;
}

// Tags

.primary {
  fill: $color-primary;
}

.secondary {
  fill: $color-secondary;
}

.tertiary {
  fill: $color-tertiary;
}

.underscore {
  max-width: 80%;
}

.tags {
  margin-top: 2rem;
}

.tags span {
  display: flex;
  align-items: flex-end;
  padding-bottom: 2rem;
}

.tags .tag-text {
  padding: 2rem 0 0 1rem;
  text-decoration: none;
  color: $color-black;
}

// Button

.btn-social {
  color: $color-primary;
  font-size: $font-size-small;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border: solid $color-primary 1px;
  text-decoration: none;
}

.btn-social:hover {
  color: $color-white;
  background: $color-primary;
  text-decoration: none;
}

@media screen and (min-width: 992px) {
  h1,
  h2 {
    font-size: $font-size-extra-large;
    font-weight: $font-weight-regular;
    padding: 3rem 0;
  }

  p {
    font-size: $font-size-regular;
    font-weight: $font-weight-light;
    padding: 3rem 0;
  }

  .article,
  .figure {
    margin: 10rem;
  }

  .figure {
    max-width: 30vw;
  }

  .tag-lg {
    max-width: 15rem;
  }

  .tag-sm {
    max-width: 6rem;
  }

  .tags .tag-text {
    padding: 2rem 0 0 1rem;
  }

  .btn-social {
    margin-right: 1rem;
    padding: 0.5rem 2rem;
  }
}

@media screen and (min-width: 1920px) {
  p {
    font-size: $font-size-large;
    font-weight: $font-weight-light;
    padding: 3rem 0;
  }

  .tag-lg {
    max-width: 30rem;
  }

  .tag-sm {
    max-width: 12rem;
  }
}
