.header {
  min-width: 100vw;
  min-height: calc(100vh - #{$nav-height});
  margin-top: $nav-height;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
