nav {
  width: 100vw;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-quaternary;
}

.btn {
  padding: 1rem 2rem;
  margin: 1rem;
  border: 1px solid #c55;
  cursor: pointer;
}
